server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    # envsubst: https://github.com/nginx/docker-nginx/blob/master/entrypoint/20-envsubst-on-templates.sh
    location ${APP_PUBLIC_URL} {
        alias /usr/share/nginx/html/;
        index index.html index.htm;
        try_files $uri $uri/ ${APP_PUBLIC_URL}index.html;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}